<form [formGroup]="loginForm" (submit)="submit()">
    <div class="row">
        <label for="txtUserName" class="form-label mt-4">UserName: </label>&nbsp;
        <input type="text" id="txtUserName" class="form-control" formControlName="username">
    </div>

    <!--error displayer-->
    @if(username?.errors){
    @if(username?.errors?.["required"] && (username?.dirty || username?.touched)){
    <span>User name is required</span>
    }
    @if(username?.errors?.["email"] && (username?.dirty || username?.touched)){
    <span>User name should be an email</span>
    }
    }

    <div class="row">
        <label for="txtPassword" class="form-label mt-4">Password: </label>&nbsp;
        <input type="password" id="txtPassword" class="form-control" formControlName="password">
    </div>

    <!--error displayer-->
    @if(password?.errors){
    @if(password?.errors?.["required"] && (password?.dirty || password?.touched)){
    <span>Password is required</span>
    }
    @if(password?.errors?.["passworderror"] && (password?.dirty || password?.touched)){
    <span>{{password?.errors?.["passworderror"]}}</span>
    }
    }
    <div>
        <input type="submit" value="LogIn" [disabled]="loginForm.invalid">
    </div>
</form>